body
{
    background-color: black;
    padding: 30px;
}



.firstLayer
{
    background-color: #2b2727;
    text-align: center;
    box-shadow: -5px 1px 16px 22px rgba(201,201,201,0.95);
    border-radius: 113px 0px 113px 0px;
    -moz-border-radius: 113px 0px 113px 0px;
    -webkit-border-radius: 113px 0px 113px 0px;
    border: 5px solid;
    border-color: rgb(5, 72, 110);
}

.secondLayer
{
    background-color: rgb(107, 40, 40);
    color: burlywood;
}

.secondLayer h3
{
    font-family: cursive;
    color: rgba(250, 249, 249, 0.712);
    margin-bottom: -2%;
    

}

#brand
{
    
    color: rgb(161, 155, 155);
    
}

#title
{
    font-size: 50px;
    color: rgb(161, 155, 155);
}

.dinamicLayer 
{
    margin: 40px;
    padding: 10px;
    background-color: rgb(37, 6, 121);
    height: 35px;
    border-width: 5px;
    border: solid;
    border-color: aquamarine;
    border-radius: 15px;
}


.dinamicLayer p
{
    color: lawngreen;
}

#pushme
{
    background-color: rgb(147, 205, 92);
    font-size: large;
    border-radius: 10px;
    border-width: 5px;
}

#dontpushme
{
    background-color: rgba(250, 53, 3, 0.404);
    color: wheat;
    font-size: large;
    border-radius: 10px;
    border-width: 5px; 
    border-color: rgb(231, 41, 8);
}

