body
{
    background-color: black;
    padding: 30px;
}



.firstLayer
{
    background-color: #2b2727;
    text-align: center;
    box-shadow: -5px 1px 16px 22px rgba(201,201,201,0.95);
    border-radius: 113px 0px 113px 0px;
    -moz-border-radius: 113px 0px 113px 0px;
    -webkit-border-radius: 113px 0px 113px 0px;
    border: 5px solid;
    border-color: rgb(5, 72, 110);
}

.secondLayer
{
    background-color: rgb(107, 40, 40);
    color: burlywood;
}

#brand
{
    
    color: rgb(161, 155, 155);
    
}

#title
{
    font-size: 50px;
    color: rgb(161, 155, 155);
}

.dinamicLayer p
{
    color: lawngreen;
}

#pushme
{
    background-color: rgb(147, 205, 92);
    font-size: large;
    border-radius: 10px;
    border-width: 5px;
}
 #subtitle
{
    font-family:  sans-serif;
    color: rgb(180, 207, 216);
}